# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

        # <div className="table-responsive">
        #     <table className="table table-striped">
        #         <thead>
        #         <tr>
        #             <th>Photo</th>
        #             <th>Product Name</th>
        #             <th>Quantity</th>
        #             <th>Status</th>
        #             <th>Options</th>
        #         </tr>
        #         </thead>
                
            
        #     {/* <tbody>
        #         {products.map((products) => {
        #             return (
        #             <tr key={products.id}>
        #                 <td>{products.image}</td>

        #                 <td>{products.product_name}</td>
        #                 <td>{products.quantity}</td>
        #                 <td>{products.status}</td>
        #                 <td>
        #                     <Link to={`product/${product.id}`}>View</Link>
        #                 </td>
        #             </tr>
        #             );
        #         })}
        #     </tbody> */}
        #     </table>
        # </div>